.top-nav {
    background-color: #2e0a0a;
    color: #fff;
    padding: 10px 80px;
    text-align: right;
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav ul li {
    display: inline;
    margin-right: 20px;
}

.top-nav ul li:last-child {
    margin-right: 0;
}

.top-nav a {
    text-decoration: none;
    color: #fff;
}

html {
    scroll-behavior: smooth;
    background-color: #000;
    font-size: 16px;
}




html {
    scroll-behavior: smooth;
    background-color: #000;
    font-size: 16px;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1553729459-efe14ef6055d?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    margin: 0;
}

header a {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.scrollContainer {
    width: 100vw;
    min-height: 50vh;
    overflow: hidden;
    transition: background-image 2s;
}

.story, .scrollText {
    margin: 0.5rem auto;
    max-width: 90%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    color: #fff;
}

#introduction {
    background-image: url("https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Adjusted mobile-friendly background image */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.end {
    color: #fff;
}

@media screen and (max-width: 768px) {
    header {
        height: 50vh;
    }

    h1 {
        font-size: 1.5rem;
    }

    header a {
        font-size: 1.2rem;
    }

    .scrollContainer {
        min-height: 40vh;
    }

    .story, .scrollText {
        font-size: 16px;
    }
}