.top-nav {
    background-color: #2e0a0a;
    color: #fff;
    padding: 10px 80px;
    text-align: right;
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav ul li {
    display: inline;
    margin-right: 20px;
}

.top-nav ul li:last-child {
    margin-right: 0;
}

.top-nav a {
    text-decoration: none;
    color: #fff;
}

html {
    scroll-behavior: smooth;
    background-color: #bab8c5;
    font-size: 16px;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/15/FC_RB_Salzburg_versus_Wolfsberger_AC_%2810._August_2019%29_08.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #000000;
    text-shadow: 1px 1px 1px #000;
    margin: 0;
    font-weight: bold;
}

header a {
    color: #000000;
    font-size: 3rem;
    padding: 1rem;
}

.scrollContainer {
    width: 100vw;
    min-height: 50vh;
    overflow: hidden;
    transition: background-image 2s;
}

.story, .scrollText {
    margin: 0.5rem auto; 
    max-width: 90%;
    padding: 1rem;
    font-size: 18px;
    color: #000000;
    text-align: center;
    font-size: 1.3em;
    line-height: 2;
}

#first{
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
}

.end {
    color: #000000;
}

@media screen and (max-width: 768px) {
    header {
        height: 50vh;
    }

    h1 {
        font-size: 1.5rem;
    }

    header a {
        font-size: 1.2rem;
    }

    .scrollContainer {
        min-height: 40vh;
    }

    .story, .scrollText {
        font-size: 16px;
    }
}
