html {
    scroll-behavior: smooth;
    background-color: #bdafaf;
    font-size: 16px;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/15/FC_RB_Salzburg_versus_Wolfsberger_AC_%2810._August_2019%29_08.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    margin: 0;
}

header a {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.scrollContainer {
    width: 100vw;
    min-height: 50vh;
    overflow: hidden;
    transition: background-image 2s;
}

.story, .scrollText {
    margin: 0.5rem auto; 
    max-width: 90%;
    padding: 1rem;
    font-size: 18px;
    color: #f3f3f3;
    text-align: center;
    font-size: 1.3em;
}
.scrollBox {
    position: relative;
    display: block;
    margin: 50vh 0 50vh 2rem;
    z-index: 10;
    width: 50%;
    max-width: 330px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    font-size: 1.2em;
}

.scrollBox h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.scrollBox p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.scrollBox img {
    max-width: 100%;
}


#introduction {
    background-image: url("");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.end {
    color: #fff;
}

@media screen and (max-width: 768px) {
    header {
        height: 50vh;
    }

    h1 {
        font-size: 1.5rem;
    }

    header a {
        font-size: 1.2rem;
    }

    .scrollContainer {
        min-height: 40vh;
    }

    .story, .scrollText {
        font-size: 16px;
    }
}
